{% extends "webtool/master.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container" ng-controller="TableController">
      <div class="container">
        <button ng-click="refreshSchemas()">Refresh schemas</button>
        <select ng-model="selectedSchema" ng-options="x for x in schemas" ng-change="selectSchema()">
        </select>
        <br/><br/>
        <ul>
          <li ng-repeat="table in filteredTables"><a href ng-click="selectTable(table.id)">{% verbatim %}{{table.name}}{% endverbatim %}</a></li>
        </ul>
        <ul uib-pagination total-items="totalItems" items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()"></ul>
        
        <h4>{% verbatim %}{{selectedSchema}}.{{selectedTable.name}}{% endverbatim %}</h4>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Nullable</th>
            <th>Primary key</th>
            <th>Business key</th>
          </tr>
          <tr ng-repeat="column in selectedTable.columns">
            <td>{% verbatim %}{{column.name}}{% endverbatim %}</td>
            <td><input type="checkbox" ng-model="column.nullable" disabled></td>
            <td><input type="checkbox" ng-model="column.primary_key" disabled></td>
            <td><input type="checkbox" ng-model="column.business_key"></td>
          </tr>
        </table>
        <button ng-click="saveBusinessKey()">Save business key</button>

        <h4 ng-bind="information"></h4>
        <h4 ng-bind="error"></h4>
      </div>
    </div>
{% endblock %}